.row1 {
    background-color: grey;
    height: 300px;
    text-align: center;
    color: #683030;
    padding: 30px;
    
}
#rock {
    background-color: transparent;
    border: none;
    padding: 30px;
}

#paper {
    background-color: transparent;
    border: none;
    padding: 30px;
}

#scissors {
    background-color: transparent;
    border: none;
    padding: 30px;
}